.ml15 {
    color: white;
    font-weight: 800;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 0.5em;
}

.ml15 .word {
    display: inline-block;
    line-height: 1em;
}